html {
  background-color: rgb(209, 252, 252);
  color: rgb(253, 136, 200);
}

.game-body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#score {
  font-size: 90px;
  font-family: sans-serif;
}
